.box1 {
  width: 200px;
  height: 100px;
  background-color: green;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  left: 0;
}

.box2 {
  width: 100px;
  height: 40px;
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  border-radius: 50%;
}

.name {
  border: 2px solid limegreen;
  margin-top: 10px;
  width: 200px;
  background-color: green;
  color: red;
  position: sticky;
  top: 0;
}
p {
  padding-bottom: 500px;
}

.im {
  position: fixed;
  bottom: 0;
  right: 0;
}
