.form1 {
  background-color: dodgerblue;
  color: aliceblue;
  text-align: center;
  font-size: 40px;
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  padding: 30px 80px;
  margin-top: 30px;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form1 input {
  padding: 5px 50px;
  border-color: lime;
  border-radius: 50px;
}
.form1 .btn {
  font-weight: bold;
}
