.p1 {
  border: 3px solid crimson;
  width: 400px;
  margin: auto;
}

.p2 {
  border: 3px solid lime;
  max-width: 400px;
  margin: auto;
}

.p3 {
  width: 400px;
  height: 200px;
  border: 5px solid dodgerblue;
  overflow: scroll; /* can use also auto, hidden, visible & so on!!! */
}
