h1 {
  color: aliceblue;
  background-color: dodgerblue;
  text-align: center;
}

p {
  color: blue;
  text-transform: uppercase;
  text-indent: 20px;
  letter-spacing: 4px;
  word-spacing: 12px;
  line-height: 20px;
}
